#home::-webkit-scrollbar{
    width:8px;
}
#home::-webkit-scrollbar-track{
    background-color: transparent;
}
#home::-webkit-scrollbar-thumb{
    background-color: rgb(174, 12, 12);
    border-radius: 10px;
}

#player::-webkit-scrollbar{
    width:8px;
}
#player::-webkit-scrollbar-track{
    background-color: transparent;
}
#player::-webkit-scrollbar-thumb{
    background-color: rgb(174, 12, 12);
    border-radius: 10px;
}

#channel::-webkit-scrollbar{
    width:8px;
}
#channel::-webkit-scrollbar-track{
    background-color: transparent;
}
#channel::-webkit-scrollbar-thumb{
    background-color: rgb(213, 16, 16);
    border-radius: 10px;
}


#suggested::-webkit-scrollbar{
    width:8px;
}
#suggested::-webkit-scrollbar-track{
    background-color: transparent;
}
#suggested::-webkit-scrollbar-thumb{
    background-color: rgb(213, 16, 16);
    border-radius: 10px;
}